// Preload stuff
sv_pure -1

// Load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// Run a user script file if present
exec autoexec.cfg

// Stuff command line statements
stuffcmds

// Display the startup level
startupmenu
sv_unlockedchapters 99

// Apply HUD settings
vgui_cache_res_files 0
tf_contract_progress_show 2
tf_hud_target_id_show_avatars 0
cl_disablehtmlmotd 1

// Disable dashboard dimmer
wait 120; showconsole; wait 5; mat_aaquality 2; hideconsole; wait 5; mat_aaquality 0;

// Aliases
alias "warsaw_xhair_red" "cl_crosshair_red 255; cl_crosshair_green 64; cl_crosshair_blue 0"
alias "warsaw_xhair_orange" "cl_crosshair_red 255; cl_crosshair_green 96; cl_crosshair_blue 0"
alias "warsaw_xhair_yellow" "cl_crosshair_red 255; cl_crosshair_green 192; cl_crosshair_blue 0"
alias "warsaw_xhair_green" "cl_crosshair_red 0; cl_crosshair_green 255; cl_crosshair_blue 176"
alias "warsaw_xhair_blue" "cl_crosshair_red 0; cl_crosshair_green 192; cl_crosshair_blue 255"
alias "warsaw_xhair_magenta" "cl_crosshair_red 255; cl_crosshair_green 0; cl_crosshair_blue 160"
alias "warsaw_xhair_white" "cl_crosshair_red 255; cl_crosshair_green 255; cl_crosshair_blue 255"

alias "warsaw_dmg_red" "hud_combattext_red 255; hud_combattext_green 64; hud_combattext_blue 0"
alias "warsaw_dmg_orange" "hud_combattext_red 255; hud_combattext_green 96; hud_combattext_blue 0"
alias "warsaw_dmg_yellow" "hud_combattext_red 255; hud_combattext_green 192; hud_combattext_blue 0"
alias "warsaw_dmg_green" "hud_combattext_red 0; hud_combattext_green 255; hud_combattext_blue 176"
alias "warsaw_dmg_blue" "hud_combattext_red 0; hud_combattext_green 192; hud_combattext_blue 255"
alias "warsaw_dmg_magenta" "hud_combattext_red 255; hud_combattext_green 0; hud_combattext_blue 160"
alias "warsaw_dmg_white" "hud_combattext_red 255; hud_combattext_green 255; hud_combattext_blue 255"

alias "warsaw_info" "clear; showconsole; echo WARSAWHUD by Lead/p3tr1ch0r; echo Based off of rayshud by raysfire; echo Check Github often for updates, bugs are fixed regularly; echo You can find the link by clicking on the version number in the Items menu."

alias "fix_issues" "hud_reloadscheme; snd_restart; stop; record fix; stop;" 

// Bookmarks and servers

exec bookmarks.cfg
exec fav_servers.cfg